include prise_date
include mixin

doctype html
html(lang=langHtml)
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="../css/style.css")
		title #{titleHead}
	body 

		section.plan
			.container 
				h1.plan__title #{h1title} 
				span.plan__descr #{step}
				span.plan__subtitle #{choosePlan}
				.plan__inner
					.plan__list 
						each dataPrise in prise
							+card(dataPrise)
