include mixin

doctype html
html(lang=langHtml)
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="../css/style.css")
		title #{titleHead}
	body 

		.wrapper
			.container 
				h1(class='wrapper__title') #{h1title} 
				span.wrapper__step #{step}
				span(class=contentClass) #{choosePlan}
				.content(class='content__inner')
					ul.content__list 
						each dataPrise in prise
							+card(dataPrise)
