block site
	-	let titleHead = 'practic';
	-	let langHtml = 'ru';
	- let h1title = 'Buy Our Safe & Secure VPN';
	- let step = 'step 1';
	- let choosePlan = 'Choose Your Plan';

mixin card(data) 
							.plan__card
								span.plan__card__title= data.time
								.plan__card__prises 
									span.plan__card__currency= data.currency
									span.plan__card__now_prise= data.prise
									span.plan__card__month= data.month
								.plan__card__prise
									span.plan__card__old= data.oldPrise
									span.plan__card__new= data.newPrise
									span.plan__card__save= data.savePrise
								button(type="button").plan__card__button select plan 